@import 'nullstyle.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.wrapper {
    padding: 100px 0;
}

h1 {
    font-size: 50px;
    line-height: 56px;
    margin: 0 0 40px 0;
    text-align: center;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    line-height: 42px;
    margin: 40px 0 25px 0;
    text-align: center;
}

h3 {
    font-size: 30px;
    line-height: 36px;
    margin: 30px 0 25px 0;
    text-align: center;
}

p {
    margin: 0 0 15px 0;

    &.center {
        text-align: center;
    }
}

ul {
    margin: 35px 0;
}

li:not(:last-child) {
    margin: 0 0 10px 0;
}

ul {
    & li {
        display: flex;
        gap: 15px;

        &::before {
            content: '─';
        }
    }
}


ol {
    margin: 35px 0;
    padding: 0 0 0 22px;

    & li::before {
        content: none;
    }
}

a {
    color: blue;
    transition: .3s ease-in-out;
    display: inline-block;
    margin: 0 0 15px 0;

    &:hover {
        text-decoration: underline;
    }
}

img {
    margin: 40px 0;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

.btn-example {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 40px 0;
}

.btn {
    background: black;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding: 10px 20px;
    border: 1px solid black;
    transition: .3s ease-in-out;
    font-size: 20px;
    line-height: 26px;

    &:hover {
        background: transparent;
        color: black;
    }
}

.grid-btn__example {
    display: grid;
    grid-template-columns: repeat(3, 1.333fr);
    gap: 30px;
    margin: 40px 0;

    &.vertical {
        grid-template-columns: 4fr;
    }
}

.heading {
    font-size: 50px;
}

.true-heading {
    line-height: 67px;
    margin: 0 0 20px 0;
}

.false-heading {
    margin: 0;
    line-height: 80px;
}

.page-navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    height: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background: black;
    padding: 0 20px 0 20px;
    width: 300px;

    & li::before {
        content: none;
    }

    & a {
        color: #fff;

        &:hover,
        &:active,
        &:focus,
        &.active {
            color: yellow;
            text-decoration: none;
        }
    }
}

.box {
    display: flex;
    gap: 40px;
}


img {
    display: block;
}

section {
    padding: 40px 0;
}